extends base.pug

block scripts 

block style
  style
      include ../static/css/buy.css 
block content 
   section#picbox1 
     .write 
       h1 Fine Diamond Rings
       p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos tempora sequi iste deleniti nihil ratione nam quisquam? Distinctio ut blanditiis ad nobis dolorum quos repudiandae.
     .picture  
       img(src="/static/pics/ring1.jpg", alt="")

   section#buybox
      .bb 
         img(src="/static/pics/rings/ring (1).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (2).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (3).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (4).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (4).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (5).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (6).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (7).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (8).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (9).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (10).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (11).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (12).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (13).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (14).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (15).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (16).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (17).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (18).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (19).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (20).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (21).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (22).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (23).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (24).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (25).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (26).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (27).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (28).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us
      .bb 
         img(src="/static/pics/rings/ring (29).webp", alt="")
         h1 Lorem Miguana
         .bb-inner
             a(href="/contact") Contact Us

   section#picbox3
       img(src="/static/pics/ring2.jpg", alt="")     
         
   section#picbox2  
       h1 Fine Diamond Rings
       p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident dolorem, corporis eos fuga facilis molestias doloribus at sit distinctio voluptatum cumque incidunt nulla minus repellendus, sapiente id vero, voluptate eveniet maxime. A beatae doloribus ipsum explicabo perferendis eius libero mollitia aperiam!     

     

