#intro{
    padding: 3vh 0px;
    margin: 6vh 0px;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(239, 239, 239, 0.248);
}
#a1{
    text-align: center; 
    width: 55vb;
    padding: 5vh 0px;
}
.bigH{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
#a2{
    display: flex;
    align-items: center;
}
#a2 img{   
    width: 70vb;
}
#a3 img{
    width: 45vb;
}
.a1{
    padding: 15px;
    text-decoration: none;
    color: rgba(91, 91, 91, 0.91);
    transition: 0.3s;
}
.a1:hover{
    cursor: pointer;
    color: black;
}
.a2{
    padding: 15px;
    text-decoration: none;
    color: rgba(203, 203, 203, 0.672);
    transition: 0.3s;
}
.a2:hover{
    cursor: pointer;
    color: white;
}
p.txt{
    font-size: 1.6rem;
}
.txt-vid{
    position: absolute;
    top: 200px;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    opacity: .5;
}
h1.txt {
    font-size: 3rem;
}
.vid{
    padding: 0px 10px;
}
#video{
    margin: 5px 0px;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    background-color: rgba(239, 239, 239, 0.248);
}
#video2{
    display: none;
}
#buybig{
    margin: 10vh 0px;
    padding: 6.5vh 0px;
    background-color: rgba(239, 239, 239, 0.248);
    text-align: center;
}
#buy, .end{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}
#buy img{
    height: 60vh;
    transition: 0.25s ease-in-out;
}
#buy img:hover{
    height: 62vh;
    cursor: pointer;
}
.b1{
    display: flex;
    flex-direction: column;
    min-height:100vb;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.056);
    padding: 15px;
    margin: 5vh 2vh;
    background-color: white;
    width: 55vb;
}
.box1{
    margin-top: 10vh;
    background-image: url(/static/pics/home/ring.jpg) ;
}
.box2{
    background-image: url(/static/pics/home/watch2.jpg) ;
}
.box1, .box2{
    display: flex;
    align-items: center;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:75vh;
}
.ring,.watch{
    color: white;
    max-width: 50vb ;
}
.ring{
margin-left: auto;
margin-right: 20px;
}
.watch{
margin-left: 20px;
}
.final{
    margin-top: 15vh;
    padding: 10vh 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(239, 239, 239, 0.248);
    
}
.end{
    padding: 10vh 0px;
}
.end img{
    height: 2rem;
}
.b2{
    padding: 4vh;
    width: 40vb;
}

@media screen and (max-width:1050px){
    #a2{
        display: none;
    }
    #a3 img{
        padding: 2vh 2vh;
        width: 50vb;
    }
}
@media screen and (max-width:670px){
    .b1 h1 , .b1 p , .b1 a{
        font-size: large;
    }
    .b1 h1{
        margin-top: 10px;
    }
}
@media screen and (max-width:450px){
    #a3 img{
        width: 90vw;
    }
    #buy img{
        height: auto;
        width: 65vw;
    }
    .b1{
        height: auto;
    }
}
